.ion_alpha_list_outer .list{
	padding-right: 15px;
}
.ion_alpha_list_outer .item{
	border-right: none;
}
.ion_alpha_sidebar{
	position: fixed;
	right: 5px;
	top: calc(50%);
	transform: translateY(-50%);
	opacity: .5
}
.ion_alpha_sidebar li{
	line-height: 1.1;
	text-align: center;
	display: block;
	width: 3ch;
}
.ion_alpha_sidebar .selected {
	background: rgba(0,0,0,.5);
	border-radius: 8px;
	color: white;
}
